.search-wrap {
  text-align: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.data li {
  list-style: none;
  font-size: 18px;
  font-family: monospace;
  margin-top: 7px;
}

.data ul {
  padding: 0;
}

.data {
  margin-top: 50%;
  display: flex;
  justify-content: center;
  text-align: left;
}
