$pinkColor: rgb(153, 6, 167);

.search-wrap {
  text-align: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.data {
  display: flex;
  justify-content: center;
  text-align: left;

  ul {
    width: 200px;
    transition: 0.2s ease-in-out;
    padding: 0;
  }

  li {
    list-style: none;
    font-size: 18px;
    color: $pinkColor;
    font-family: monospace;
    margin-top: 7px;
  }
}

.data ul:hover {
  box-shadow: 0 0 10px #1c056d, 0 0 40px #cf12c0, 0 0 80px rgba(64, 117, 255, 5);
}
